
<div id="articles">
   <%# react_component 'article_small', { data: @first_article } %>
   <%# render partial: 'article_small', locals: { article_small: @first_article, article_class: 'first', article_counter: -1 } unless @first_article.nil? %>
   <%# render partial: 'article_collection', collection: @articles %>
   <%= react_component 'article_collection', { data: @articles} %>
 </div>
